# local
VITE_API_URL=http://localhost:5000
VITE_CLIENT_URL=http://localhost:5173
VITE_AFFILIATE_URL=http://localhost:5174
VITE_ADMIN_URL=http://localhost:5175

# online
# VITE_API_URL=https://api.betchokkor.com
# VITE_CLIENT_URL=https://betchokkor.com
# VITE_AFFILIATE_URL=https://affiliate.betchokkor.com
# VITE_ADMIN_URL=https://admin.betchokkor.com
